* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(126, 11, 11);
}
header{
    height: 400px;
    background-image: url(./img/design1_image1.jpg);
    background-position: 50% 80%;
    background-size: 100% 90%;
    background-repeat: no-repeat;
    
}
header>h1{
    background-color: white;
    border-bottom: 5px red solid;
    text-shadow: 2px 2px 2px red;
}
.logo{
    width: 130px;
    height: 130px;
    position: relative;
        left: 5px;
        bottom: 5px;    
}
.contenedorLogo{
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: 70px;
    border: 2px solid black;
    position: relative;
        top:20px;
        left: 50px;
    
}
.imagen{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    border: 2px solid black;
    position: relative;
        bottom: 135px;
        left: 1000px;    
}
.subtitulo>h2{
    color: black;
    text-align: center;
    text-shadow: 2px 2px 2px white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
}
nav{
    /*border: 5px solid black;*/
    padding: 10px;
    margin: 10px;
    position: absolute;
        top: 10px;
        right: 0;
        width: 400px;    
}
nav a{
    border: 5px solid black;
    padding: 10px;
    background-color: blue;
    color: white;
    border: 3px solid red;
    border-radius: 10px;
    text-decoration: none;
}
.sub{
    background-color: red;
    color: black;
}
a:hover{
    color: black;
    background-color: blue;
}
article{
   /* display: block;*/
    color: black;
    width: 50%;
    position: relative;
        left: 300px;
        bottom: 440px;
}
article>h3{
    /*color: blue;*/
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
article>p{
    color: white;
    text-indent: 30px;
    font-size: 15px;
}
.contacto{
    /*display: block;*/
    /*background-color: black;*/
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    position: relative;
        left: 300px;
        bottom: 440px;
}
.contacto>p{
    color: black;
    text-indent: 30px;
    font-size: 20px;
    padding: 5px;
}
.about{
    display: block;
    /*background-color: black;*/
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    position: relative;
        left: 300px;
        bottom: 440px;
}
.about>h3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    text-shadow: 2px 2px 2px red;
    font-size: 20px;
}
.about>p{
    color: white;
    text-indent: 30px;
    font-size: 15px;
    padding: 5px;
}